@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i|Quicksand:500,400|Pacifico);
.clearfix,
.group {
  zoom: 1; }
  .clearfix:before, .clearfix:after,
  .group:before,
  .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after,
  .group:after {
    clear: both; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px; }

.container.small {
  max-width: 960px; }

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  margin-bottom: 20px; }

.group {
  flex-direction: column; }

@media screen and (min-width: 480px) {
  .container {
    padding: 0 40px; }

  .group {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -2.1277%; }

  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    flex: 0 0 auto; }

  .span1 {
    flex-basis: 6.20563%;
    margin-left: 2.1277%;
    max-width: 6.20563%; }

  .offset1 {
    margin-left: 10.46103%; }

  .span2 {
    flex-basis: 14.53897%;
    margin-left: 2.1277%;
    max-width: 14.53897%; }

  .offset2 {
    margin-left: 18.79437%; }

  .span3 {
    flex-basis: 22.8723%;
    margin-left: 2.1277%;
    max-width: 22.8723%; }

  .offset3 {
    margin-left: 27.1277%; }

  .span4 {
    flex-basis: 31.20563%;
    margin-left: 2.1277%;
    max-width: 31.20563%; }

  .offset4 {
    margin-left: 35.46103%; }

  .span5 {
    flex-basis: 39.53897%;
    margin-left: 2.1277%;
    max-width: 39.53897%; }

  .offset5 {
    margin-left: 43.79437%; }

  .span6 {
    flex-basis: 47.8723%;
    margin-left: 2.1277%;
    max-width: 47.8723%; }

  .offset6 {
    margin-left: 52.1277%; }

  .span7 {
    flex-basis: 56.20563%;
    margin-left: 2.1277%;
    max-width: 56.20563%; }

  .offset7 {
    margin-left: 60.46103%; }

  .span8 {
    flex-basis: 64.53897%;
    margin-left: 2.1277%;
    max-width: 64.53897%; }

  .offset8 {
    margin-left: 68.79437%; }

  .span9 {
    flex-basis: 72.8723%;
    margin-left: 2.1277%;
    max-width: 72.8723%; }

  .offset9 {
    margin-left: 77.1277%; }

  .span10 {
    flex-basis: 81.20563%;
    margin-left: 2.1277%;
    max-width: 81.20563%; }

  .offset10 {
    margin-left: 85.46103%; }

  .span11 {
    flex-basis: 89.53897%;
    margin-left: 2.1277%;
    max-width: 89.53897%; }

  .offset11 {
    margin-left: 93.79437%; }

  .span12 {
    flex-basis: 97.8723%;
    margin-left: 2.1277%;
    max-width: 97.8723%; }

  .offset12 {
    margin-left: 102.1277%; } }
@media screen and (max-width: 780px) {
  .container {
    padding: 0px; } }
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  color: #444; }

blockquote {
  border-left: 2px solid #58ba47;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 20px;
  padding-left: 25px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", sans-serif;
  color: #58ba47; }

h1 {
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0.8em; }

h2 {
  font-size: 2.2em;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0.8em; }

h3 {
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0.8em; }

h4 {
  font-size: 1.8em;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 0.8em; }

h5 {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0.8em; }

p {
  margin: 0 0 20px; }

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word; }

code {
  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 2px 10px;
  word-break: break-all;
  word-wrap: break-word; }

a {
  color: #58ba47; }
  a:hover, a:focus {
    text-decoration: none; }

/************  font configuration for main content ****************/
.main-content,
footer {
  font-size: 0.8em; }

@media screen and (min-width: 480px) {
  .main-content,
  footer {
    font-size: 1em; } }
nav {
  height: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  position: relative;
  z-index: 1000; }
  nav a {
    display: block;
    padding: 0.4em 0;
    text-decoration: none;
    background-color: #58ba47;
    color: #fff;
    border-bottom: 1px solid #4fa241; }
  nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden; }
    nav ul ul {
      height: 0; }
      nav ul ul a {
        border-bottom: 1px solid #468a3a;
        background-color: #4fa241; }
    nav ul ul.open {
      height: auto; }
  nav i.fa-sort-desc {
    position: relative;
    top: -3px;
    font-size: 0.850em; }

nav.show {
  height: auto; }

a.mobile-toggle {
  display: block;
  text-align: center;
  background-color: #58ba47;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  color: #fff;
  border: none;
  width: 100%;
  border: none;
  outline-color: transparent;
  padding: 0.4em;
  text-decoration: none;
  position: relative;
  z-index: 900; }

a.mobile-toggle.grey {
  background-color: #aaa; }

#menu-overlay {
  display: none;
  position: fixed;
  background: transparent;
  /* I made this purple so you can see it :) */
  opacity: 0.6;
  /* can be made to 0 */
  width: 100%;
  height: 100%;
  z-index: 800;
  top: 0;
  left: 0; }

@media screen and (min-width: 480px) {
  nav {
    height: auto;
    overflow: visible;
    margin-bottom: 1em;
    font-size: 1em; }
    nav a {
      display: inline-block;
      padding: 0;
      margin: 0 10px;
      line-height: 2em;
      text-decoration: none;
      font-family: "Quicksand", sans-serif;
      background-color: transparent;
      color: #58ba47;
      border-bottom: 2px solid transparent;
      -moz-transition: border-bottom 0.5s;
      -o-transition: border-bottom 0.5s;
      -webkit-transition: border-bottom 0.5s;
      transition: border-bottom 0.5s; }
      nav a:hover {
        border-bottom: 2px solid #58ba47; }
    nav ul ul a {
      background-color: #58ba47;
      border-bottom: 1px solid #4fa241;
      color: #fff;
      padding: 0 10px;
      width: 13em; }
    nav ul ul a:hover {
      text-decoration: underline;
      border-bottom: 1px solid #4fa241; }
    nav ul li {
      display: inline-block;
      position: relative; }
    nav ul ul {
      position: absolute;
      top: 2em;
      left: 0;
      text-align: left;
      border-bottom: none;
      overflow: hidden;
      height: 0; }
    nav ul ul li {
      display: inherit; }
    nav ul {
      overflow: visible; }
    nav ul.open {
      overflow: visible;
      height: auto; }

  a.mobile-toggle {
    display: none;
    font-size: 1em; } }
@media screen and (min-width: 1200px) {
  nav a {
    margin: 0 40px; } }
* {
  box-sizing: border-box !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.valign {
  vertical-align: middle; }

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 40px 0; }

.subtle {
  color: #aaa; }

.relative {
  position: relative; }

.branding {
  text-align: center; }

.site-logo {
  display: block;
  margin: 1em; }

.site-logo img {
  width: 6em; }

@media screen and (min-width: 480px) {
  .site-logo img {
    width: 10em; } }
.banner {
  height: 50vmin;
  background: transparent url("../images/banner002.jpg") no-repeat center 70%;
  background-size: cover; }
  .banner .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .banner .marketing-text {
    width: 100%;
    height: 100%;
    position: relative; }
  .banner h2 {
    text-align: center;
    color: #fff;
    font-family: Pacifico, sans-serif;
    font-size: 1.5em;
    position: relative;
    top: 30%;
    margin: 0;
    font-weight: 500; }

@media screen and (min-width: 780px) {
  .banner {
    height: 70vmin; } }
@media screen and (min-width: 480px) {
  .banner h2 {
    text-align: center;
    color: #fff;
    font-size: 4em;
    top: 40%; } }
@media screen and (min-width: 1440px) {
  .banner h2 {
    font-size: 6em;
    top: 35%; } }
footer {
  margin: 50px 0px 0px;
  border-top: 1px solid #aaa;
  text-align: center; }
  footer .footer-content {
    max-width: 80%;
    padding: 20px 0px 0px; }
  footer .disclaimer {
    color: #aaa;
    font-size: 0.8em; }

@media screen and (min-width: 480px) {
  footer {
    margin: 100px 0px 0px; } }
.our-difference {
  padding: 40px;
  background-color: #58ba47;
  color: #fff;
  text-align: center; }
  .our-difference h2 {
    color: #fff; }

.our-promise img {
  width: 100%;
  height: auto; }

@media screen and (min-width: 480px) {
  .banner {
    height: 70vmin; } }
.main-content {
  max-width: 80%;
  margin: 0 auto; }

.spacer {
  padding: 0.8em; }

.five-cols .span2 span img {
  max-width: 100%;
  height: auto; }

@media screen and (min-width: 480px) {
  .main-content {
    max-width: 100%; }

  .spacer {
    padding: 3em; }

  .group {
    margin: 0; }

  .five-cols .span2 {
    flex-basis: 20%;
    max-width: 20%;
    margin: 0;
    padding: 0 10px; }
    .five-cols .span2 span {
      display: block; }
      .five-cols .span2 span img {
        max-width: 100%;
        height: auto; } }

/*# sourceMappingURL=main.css.map */
