.emphasized-bg {
	padding: 40px;
	background-color: $primary-color;
	color: #fff;
	text-align: center;

	h1,h2,h3,h4,h5 {
		color: #fff;
	}

	a {
		color: #fff200;
	}

	ul {
		display: table;
		margin: 0 auto;

		li {
			text-align: left;
		}
	}

}



