.our-difference {
	padding: 40px;
	background-color: $primary-color;
	color: #fff;
	text-align: center;

	h2 {
		color: #fff;
	}

}

.our-promise {
	img {
		width: 100%;
		height: auto;
	}
}

@include mobilefirst($small-break) {
	.banner {
		height: 70vmin;
	}
}