//**
// Logo Styles
//**
.branding {
	text-align: center;
}

.site-logo {
	display:block;
	margin: 1em;
}

.site-logo img {
	width: 6em;
}


// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
@include mobilefirst($small-break) {
	// .branding {
	// 	text-align: left;
	// 	float: left;
	// }

	.site-logo img {
		width: 10em;
	} 
}