//**
// Logo Styles
//**
.banner {
	height: 50vmin;
	background: transparent url("../images/banner002.jpg") no-repeat center 70%;
	background-size: cover;

	.overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.marketing-text {
		width: 100%;
		height: 100%;
		position: relative;
	}


	h2 {
		text-align: center;
		color: #fff;
		font-family: Pacifico, sans-serif;
		font-size: 1.5em;
		position: relative;
		margin: 0;
		font-weight: 500;
		line-height: 50vmin;
	}
}

.sub-banner {
	background-color: $quaternary-color;

	h1 {
		color: #fff;
		font-size: 1.5em;
		padding: 0.5em 0.5em;
	}
}


// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
@include mobilefirst($big-break) {
	.banner {
		height: 50vmin;
	}

}

@include mobilefirst($small-break) {

	.banner {

		h2 {
			text-align: center;
			color: #fff;
			font-size: 4em;
			// top: 40%;
			line-height: 50vmin;
		}
	}

	.sub-banner {
	background-color: $quaternary-color;

	h1 {
		color: #fff;
		font-size: 4em;
		padding: 0.5em 0.5em;
	}
}

}

@media screen and (min-width: 1440px) {

	.banner {

		h2 {
			font-size: 6em;
		}
	}

}